<button onclick="Telegram.WebApp.sendData('Request to show a button')" class="btn btn-danger my-2">Back To HomePage</button>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <% if @tasks.any? %>
        <table class="table table-bordered table-striped table-responsive-md">
          <thead class="thead-dark">
            <tr>
              <th>Task Name</th>
              <th>Earning</th>
              <th>Submission By</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
              <tr>
                <td><%= task.name %></td>
                <td><%= number_to_currency(task.cost, unit: "$") %></td>
                <td><%= task.end_time.strftime("%d-%m-%Y %H:%M") %></td>
                <td class="btn btn-sm btn-warning">View</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-warning" role="alert">
          No task submissions found.
        </div>
      <% end %>
    </div>
  </div>
</div>
